<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carrot.clone.memberService.MemberSignUpMapper">

    <insert id="signupMember">
        INSERT INTO user (town, phoneNumber) VALUES (#{town}, #{phoneNumber})
    </insert>

    <select id="select" resultType="com.carrot.clone.memberDao.MemberDAO">
        SELECT town, phoneNumber FROM user
    </select>

</mapper>